* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .wrapper  {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
     background-image:  url('https://images.all-free-download.com/images/graphiclarge/hd_picture_of_the_beautiful_natural_scenery_03_166249.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
  }
  
  
  
  .main-div, .loggedin-div {
    width: 100%;
    margin: 0px auto;
    margin-top: 0px;
    padding: 20px;
    display: none;
background: transparent;
  }
 #login_div{
     background-image: url('Images/backlogin.jfif');
     background-repeat: no-repeat;
     background-size: cover;
 height: auto; width: fit-content; border: 1px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
 }

  .main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    min-width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    font-size: 20px;
  }
  
  .main-div input:focus {
    border: 1px solid #777;
  }
  

  #email_field
  {
      width: 80%;
  }
  #password_field
  {
   width: 80%;   
  }
  
  #user_div
  {
  width: 100%;
  background: transparent;
  margin: 0 auto;
  }

  #clas
  {
    font-size: 30px;
    color: #341f97;
    text-shadow: 2px 2px 3px 3px green;
  }
  #sub
  {
    font-size: 20px;
    margin-left: 20px;
  }
 
  